.upload_button{
    text-align: left;
    display: flex;
    align-items: center;
    width: 110px;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    margin: 2.8vh 3.5vw;
}
.upload_title{
    color:#adadad;
}
.file{
    margin: 0;
    padding: 0;
    width: 110px;
    opacity: 0;
    position: absolute;
}
.uploaded_button{
    display: flex;
    justify-content: space-around;
    margin: 4vh 0; 
}